
#playlist_select{
 width:300px;
}

#playlist_select option{
     width:300px;
    }

#action_container{
    position: fixed;
    top: 100px;
    right: 50px;
    width: 600px;
    border: 3px solid #8AC007;


}

#folder_select_container{
    position: static;
    top: 100px;
    right: 50px;
    width: 600px;
    border: 3px solid #8AC007;


}

#action_list { list-style-type: none; margin: 0; padding: 0; width: 90%; }
#action_list li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 0.7em; font-size: 0.7em; height: 18px; }
#action_list li span { position: absolute; margin-left: -1.3em; }

